
  @media(min-width:418px)and (max-width:780px){
    body-contact{
      background-color: salmon;
    }
    #hav{
      margin-left: 20%;
    
    }
    .hold{
      margin-left: 20%;
    }
    .su{
      margin-left: 50%;
    }
    
  }
  /* @media(min-width:418px)and (max-width:78opx ){
    body-uj{
     font-size: 1px;
     display: grid 1r;
    }
    } */