.pics img{
    margin-left: 70%;
padding-top: none;
    
}

/* .nav ul li{
    /* padding: 20px 150px 20px; */
    /* list-style-type: none;
    justify-content: right;
    display: inline-block;
    justify-content: space-between; */
     */

.footer{
    color: white;
    background-color:orangered;
    display: flex;

}    
.light{
    color: orangered;
}
 .background{
    float:right;
    width: 500px;
    height:700px;
    background-color:orangered;
    border-radius: 350px / 250px 0px 750px;

} 
.nav ul li {
    
    display: inline-flex;
    list-style: none;
}
.nav{
    display: inline-flex;
}
.bar li{
    list-style: none;
    display: inline-flex;
    padding:  0px 30px 0px 30px;

}
.bar2{
    position: absolute;
    float: right;
}
.navbar{
    width: 70%;
    height:75px;
    margin: auto;
   
       
}
.icon{
    width: 100px;
    float: left;
    height: 70px;
}
.logo{
    color: orangered;
    font-size: 35px;

}
.menu{
    width:85%;
    float: left;
    height: 70px;
    
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style-type: none;
    margin-left: 60px;
    margin-top: 0px;
    font-size: 10px;

}
ul li a {
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
 transition: 0.4s ease-in-out; 
}
ul li a:hover{
    color: orange;
}
.search{
    width: 75%;
    float: left;
    margin-left: 7px;
    margin-top: -6em;
    
}
.the{
    margin-right: 8px;
    width: 75%;
   
}
.the2{
    display: inline-flex; 
    margin-left: 38%;
    margin-top: -40%;

}
.bend{
     width:700px;
    height: 500px; 
    /* display: flex; */
}
.highlight{
    color: orangered;
}
.find{
    background-color: orangered;
    padding: 12px;
   border-radius: 12px; 

}
.best{
    text-align: center;
    font-size: 50px;
    
}
#black{
    width: 30%;
    height: 30%;
    border-radius: 10px;
    
}
.view{
     background-color:  orangered;
    
}
#shoes{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: right;
    }
     .vw{
        background-color:  orangered;
    
        }
         .w{
            background-color:  orangered;
        
            } 
     #try{
        width: 150%;
        gap: 30px;
        height: 90%;
        background-image: linear-gradient(to bottom, black,red);
        border-radius: 10px;
       }  
       .srch{
        margin-top: -6em;
       
       }
        .one{
        display: flex;
         gap: 1em; 
         width: 75%;
         margin-left: 5%;
          justify-content: space-evenly; 

       }
        
        #black{
            width: 190%;
            gap: 0px;
            height: 100%;
            background-image: linear-gradient(to bottom, lightblue,blue);
            
           
        }
        .a{
             /* margin-left: 0px;  */
            width: 900%;
            height: 20%;
            display: flex;
            background-image: linear-gradient(to bottom,white);
           
        }
        .ma{
            /* display: flex; */
            /* margin-right: 10%; */
            margin-left: 38%;
            padding-right: 20px;

        }
        .ik{
            /* display: flex; */
            margin-left: 5%;
        }
        .b{
            display: flex;
            width: 800%;
            height: 20%;
            margin-left: 5%;
            
        }
        
        #shoes{
            width: 102%;
            gap: 0px;
            height: 100%;
            background-image: linear-gradient(to bottom, lightblue,red);
            border-radius: 10px;
        }
        .c{
            margin-left: 69px; 
            width: 900%;
            height: 20%;
            display: flex;
            margin-left: 5%;
          
        }
        .feature{
            align-items: center;
            text-align: center;
            font-size: 30px;
        }
        .high{
            color:orangered;
        } 
        .wom ul li{
           padding: 10px  20px;
            list-style-type: none;
            justify-content: right;
         display: inline-block; 
            font-size: larger;
            font-weight: bolder;

        }
        .modern{
            color:orangered;
        }
    .feature{
        text-align: center;
    }
    #dass{
        width: 15%;
        height: 8%;
        padding-right: 750px;
    }
    #nik{
        width: 15%;
        height: 8%;
        padding-right: 750px;
        
    }
    #dis{
        width: 15%;
        height: 8%;
        padding-right: 750px;
        
    }
    #niks{
        width: 15%;
        height: 8%;
        padding-right: 50px;

    }
   
    .two{
        display: flex;
        margin-top: 8%;
        gap: 1em;
        width: 75%;
        justify-content: space-evenly;
        gap: 1.5em;
        /* padding-left: 1%; */
       
    } 
     .r{
       
        margin-right: 25%;
        margin-left: 20%;
    }  
    .d{
        width: 20%;
        padding: 22px 12 px;
        background-color: white;
        border-radius: 1em;
    }
    .ni{
        margin-right: 5%;
    }
    #nik{
        width: 92%;
    }
.di{
    width: 20%;
    padding: 22px 12 px;
    background-color: white;
    border-radius: 1em;
}
#dass{
  
    width: 105%;
    /* height: 70%; */
}
#dis{
    width: 105%;
   
}
.e{
    width: 20%;
    padding: 22px 12 px;
    background-color: white;
    border-radius: 1em;
  
}
.f{
    margin-left: 5%;
    padding: 22px 12 px;
    background-color: white;
    border-radius: 1em;
}
#niks{
    width: 60%;
}
#dak{
    width: 50%;
    height: 8%;
    padding-right: 750px;
}
#nit{
    
        width: 60%;
        height: 1%;
        padding-right: 750px;
        
    }
    #dil{
        width: 0%;
        height: 8%;
        padding-right: 750px;
        
    }
    #nin{
        width: 70%;
        height: 40%;
       
        padding-right: 200px;
}
.three{
    display: flex;
    margin-top: 8%;
    gap: 1em;
    width: 20%;
    
   
} 
.diy{
    width: 50%;
    padding: 22px 12 px;
    background-color: white;
    border-radius: 1em;
}
.g{
    width: 80%;
    margin-left: 20%;
    padding: 22px 12 px;
    background-color: white;
    border-radius: 1em;
    }
    .nim{
        margin-right: 5%;
    }
    .h{
        width: 20%;
        padding: 22px 82px;
        background-color: white;
        border-radius: 1em;
      
    }
    #dim{
        width: 300%;
        padding-right: 57px;
       
    }

    .i{
        margin-left: 40%;
        padding: 22px 12 px;
        background-color: white;
        border-radius: 1em;
    }
    .see{
        margin-left: 40%;
        width:20%;
        height: 30%;
        border-radius: 6px;
        /* color: black; */
        padding-right: 30px;
        
        
    }
    .new{
        text-align: center;
    }
    .ride{
        display: flex;
        gap: 1rem;
       
    
    }
    .cut{
        display: flex;
        text-decoration: none;
        
    }
  .arrive1{
    margin-bottom: 10%;
    padding: 0% 3%;
    height: 50%;
    width: 90%;
  }
  .image1{
    width: 50%;
    height: 50%;
  }
  .joy{
    width: 60%;
  }
  .tree{
    position: relative;
    right: 90px;
  }

    .come{
        display: flex;
        text-decoration: none;
  }
  .image2{
    width: 50%;
    height: 50%;
  }

.fay{
  width: 60%;
}
.mango{
    position: relative;
    right: 90px;
  }
  .special{
    color: rgb(255, 51, 0);

  }
  .spec{
    color: rgb(255, 51, 0);

  }
  .Mi{
    color:white;
    background-color: red;
    padding: 12px;
    border-radius: 12px;
    
  }
  .ai{
    color: rgb(255, 51, 0);
    padding: 12px;
    border-radius: 12px;
  }
  .ra{
    color:white;
    background-color: red;
    padding: 12px;
    border-radius: 12px;
    margin-left: 10px;
  } 
  .re{
    color: rgb(255, 51, 0);
     padding: 12px;
    border-radius: 12px; 
  }
  .tt{
    color: rgb(255, 51, 0);
    font-weight: bolder;
    margin-top: 0;
  }
  .sub{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
   
   
  }
  .air{
    
    background-color: red;
    padding: 12px;
    border-radius: 12px;
   
  }
  .your{
    text-align: center;
  }
  .im{
    display: flex;
  } 
  .footer{
    display: flex;
   gap: 2rem;
   background-color: rgb(255, 51, 0);
   color: aliceblue;
   width: 110%;
   display: grid;
   grid-template-columns: repeat(2,1fr);
  

  }
  .im{
    justify-content: space-between;
    gap: 8rem;
  }
  .rights{
    text-align: center;
    font-size: larger;
    color: aliceblue;
    /* background-color: rgb(255, 51, 0);
    border-width: 100%; */
    margin-top: -1.5em;
  }
  .ig{
    margin-right: 5%;
    width: 10%;
}
.face{
    margin-right: 5%;
    width: 10%;
}
.twit{
    margin-right: 5%;
    width: 10%;
    size: 30;
    max-width: 10%;

}
.sur{
    background-color: palevioletred;
    border-radius: 50px;
    width: 110%;
    padding-top: 5%;
    text-align: center;
    margin-top: 5%;
    /* padding-bottom: 60px;
    padding-top: 50px;
    margin: 10%; */

      /* margin-left: 60%; */
    /* margin-right: 150px;     */
    
}
.main{
    display: flex;
    border: 100%;
    
}
.main ul li{
    display: inline;
    margin: 1 rem;
    font-size: 13px;
}
.fur{
    width: 50%;
   
}
.cial{

    color: rgb(255, 51, 0);
}
.body{
    /* width: 90%;
    height:100% */
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgb(235, 231, 231);
}
.or{
    color: rgb(255, 51, 0);
}
.u{
    background-color:  orangered;

}
.play{
    border-radius:50%;
    height: 100%;
    background-color:  orangered;
    color: antiquewhite;
    padding: 12px;
    border-radius: 12px; 
}
.man{
    
        position: relative;
        left: 19px;
        box-shadow: 0 12px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        border-radius: 36px;
        /* margin-top: -20em; */
        
        
      }
      .test{
        display: flex;
        gap: 20rem;
      }
      .google{
    
      background-color: black;
      color: aliceblue;
      padding: 12px;
      border-radius: 10px;
       
      }
      .App{
        background-color: black;
        color: aliceblue;
        padding: 12px;
        border-radius: 10px;
         
      }
      #store{
        color: aquamarine;
      }
      .white{
        width: 20%;
        border-radius: 50%;

      }
      .main1{
         background-image: url(/images/bg_720.png);
        background-size: cover;
        width: 110.5%;
        height: 100vh;
        background-position: center;
       
      }
      #beard{
        margin-top: -2em;
        margin-right: -5px;
      }
      .Nikey{
       display: inline;
       display: flex;
      }
      .min{
        color: rgb(255, 51, 0);
      }
      .lac{
        font-weight: bolder;
      }
      .off{
        color: rgb(255, 51, 0);
      }
      .select{
        color: rgb(255, 51, 0);
      }
      .size{
        color: rgb(255, 51, 0);
      }
      .sam{
        display: flex;
        margin-left: 20px;
        margin-right: 22px;
        
      }
      .nikeblack{
        margin-left: 750px;
        /* margin-bottom: -900px; */
        position: relative;
       bottom: 700px;
      }
      .sim{
    /* margin-bottom: 50px;
    font-size: larger; */
    font-weight: bolder;
    /* text-align: center; */
    padding-left: 30%
      }
     .lar{
        position: relative;
        bottom: 650px;
     }
     .tar{
        position: relative;
        bottom: 550px;
        /* top: 500px; */
       
     }
     .fin{
        position: relative;
        bottom: 350px;
     }
     .pinky{
        position: relative;
        bottom: 350px;
        
     }
     .out{
        position: relative;
        bottom: 350px;
        
     }
     .pink{
        display: flex;
        gap: 3rem;
       
     }
     .vision{
        position: relative;
        bottom: 350px;
        
     }
      .oe{
        width: 400px;
       
       
        
     }
     .op{
        width: 200px;
     }
     .ol{
        width: 200px;
     }
     .ok{
        width: 200px;
     }
      .s{
        border-radius: 200%;
        background-color: orange;
        height: 20%;
        width: 20px;
      }
      .vis{
        position: relative;
        bottom: 350px;
        
      }
      .pi{
        display: flex;
        position: relative;
        left: 750px;
        bottom: 300px;
        /* width: 100px; */
        /* margin-right: 800px; */
      }
      .main1{
        width: 100%;
      }
      .ink{
        position: relative;
        bottom: 250px;
        display: flex;
       
        }
        .out{
          margin-left: 22px;
          font-size: 30px;
        }
        .ef{
          position: relative;
          bottom: 550px;
        }
        .stone{
          width: 200px;
        }
        .sr{
          border-radius: 50px;
        }
        .sion{
          font-size: 22px;
        }
       #brown{
         background-color: white; 
        border-left: solid red;
        border-top: solid  red;
        border-width: 150px;
        border-radius: 20px;
        /* border-radius: 1550px/0px 1250px 4000px 1600px;   */
     
      
      } 
        @media (max-width:100px){
        .main1{
          grid-template-columns: repeat(1,fr)

        }
        }
       .brown{
          width: 70px;
        }
        .body{
          width: 38;
        }
       
        

        @media(max-width:25px){

        }
        @media(max-width:450px){
         .body{
          width: 200px;
         }

        } 
        @media(max-width){
          .main1{
            width: fit-content;
          }

        }
        @media only screen and (max-width:480px){
          html,body{
            width: 100%;
            height:100% ;
            margin: 0;
            padding: 0;
            overflow-x: hidden;

          }
         
        }  @media only screen and (max-width:340px){
          html,body{
            width: 100%;
            height:100% ;
            margin: 0;
            padding: 0;
            overflow-x: hidden;

          }

        }